---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import { name, title, links } from "../data/resume";
---

<Layout title={name}>
  <header>
    <h1>{name}</h1>
    <div class="subtitle">{title}</div>
    <div class="links">
      {
        links.map(({ label, href, icon }) => (
          <a href={href} target="_blank" rel="noopener">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="14"
              height="14"
              viewBox="0 0 24 24"
              fill="currentColor"
              set:html={icon}
            />
            {label}
          </a>
        ))
      }
    </div>
  </header>

  <Skills />
  <Experience />
  <Education />
</Layout>
